.hero {
  background-color: grey;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero .hero-text1 {
  font-size: 2rem;
  font-weight: 600;
}

.hero .hero-text2 {
  font-size: 1rem;
  font-weight: 400;
  color: #be3144;
}
