.project-container {
  background-color: gold;
  width: 100%;
  height: fit-content;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 10px 1rem;
  margin: 0 0 1rem;
}

.project-container .project-header {
  font-size: 1.4rem;
  border-bottom: 1px solid #62ceb7;
  height: fit-content;
  width: fit-content;
  padding: 0 12px 1rem;
  margin: 1rem auto 2rem;
}

.project-container .container {
  background-color: green;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  width: 96vw;
  max-width: 1300px;
  height: fit-content;
  margin: 0;
}

.container .project {
  background-color: purple;
  width: cal(100% - 10px);
  height: fit-content;
  min-height: 300px;
  margin: 10px;
  transition: 0.5s;
}

.container .project:hover {
  transform: translateY(-20px);
}

.project.hidden-project {
  display: none;
}

@media only screen and (max-width: 768px) {
  .project-container .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  .project-container .container {
    grid-template-columns: 1fr;
  }
}
